/* CELL PHONE SIZE */

.banner {
  height: 80px;
  width: 100%;
  background-color: #C9DED1;
  margin: 60px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: -18px;
}

.header2 {
  font-size: 10px;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 60px 0;
}

.jerryThumb {
  height: 200px;
  box-shadow: 3px 3px 10px 3px rgb(211 211 211);
  border-radius: 4px;
  margin: 0 0 30px 0;
}

.right {
  width: 90vw;
}

.bodyContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body {
  margin: 5px 10px 5px 5px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 300;
}

.bodyLine {
  width: 100%;
  height: 2px;
}

.servicesContainer {
  margin: 0 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.services > div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 50%;
}

.services > div:nth-of-type(1) {
  background: #D996A2;
}
.services > div:nth-of-type(2) {
  background: #4a7d5d;
}
.services > div:nth-of-type(3) {
  background: #85A68D;
}
.services > div:nth-of-type(4) {
  background: #DBCCBF;
}
.services > div:nth-of-type(5) {
  background: #CCD9CC;
}
.services > div:nth-of-type(6) {
  background: #A69A60;
  /* background: #CADED2; */
}
.services > div:nth-of-type(7) {
  background: #B3C4B9;
}
.services > div:nth-of-type(8) {
  background: #CCC6C6;
}

.services > div > p {
  font-size: 16px;
  white-space: pre-line;
}

.focus {
  width: 25%;
  height: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoLine {
  margin: 7px 0 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 320px;
}

.infoLine > h3 {
  margin: 7px 0 2px 0;
  font-size: 16px;
  font-weight: 500;
}

.infoLine > h5,a {
  margin: 7px 0 0 0;
  font-size: 12px;
  font-weight: 300;
  overflow-wrap: anywhere;
}

.sectionHeaderContainer {
  width: 100vw;
  text-align: center;
}

.headerLine {
  background: #ccc;
  width: 90%;
  height: 2px;
  border-radius: 8px;
}

.sectionHeader {
  font-size: 20px;
}

.mapContainer {
  position: relative;
}

iframe {
  margin-top: 50px;
  display: block;
  width: 100vw;
  height: 300px;
}

@media screen and (min-width: 700px) {
  .infoLine {
    width: 390px;
  }
}


@media screen and (min-width: 800px) {
  .headerLine {
    width: 70%;
    height: 3px;
  }

  .sectionHeader {
    font-size: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner {
    height: 150px;
  }

  .header {
    font-size: 70px;
    margin-top: -42px;
  }

  .header2 {

  }

  .right {
    width: 100vw;
  }

  .bioContainer {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 0 100px 0;
  }

  .jerryThumb {
    height: 300px;
    box-shadow: 3px 3px 10px 3px rgb(211 211 211);
    margin-right: 40px;
  }

  .bodyContainer {
    width: 100%;
    margin: 20 40;
    display: flex;
    flex-direction: column;
  }

  .body {
    margin: 10px 0px 10px 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .servicesContainer {
    margin: 0 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services {
    width: 60%;
  }

  .services > div {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
  }

  .services > div > p {
    font-size: 22px;
  }

  .focus {
    width: 25%;
    height: 200px;
  }

  .hr {
    width: 90%;
    height: 5px;
  }

  .sectionHeaderContainer {
    margin: 0 0 30px 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoLine {
    margin: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 410px;
  }

  .infoLine > h3 {
    margin: 0 0 2px 0;
    font-size: 22px;
  }

  .infoLine > h5,a {
    /* margin: 10px 0; */
    font-size: 18px;
  }
}