/* GET STYLES FROM OTHER CSS FILES */
/* .center {
  composes: center from '../../App.css';
} */

nav {
  height: 50px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.8);
}

nav li {
  display: inline-block;
  padding: 0 10px;
  line-height: 50px;
  vertical-align: middle;
}

.nav-ul {
  padding-left: 20px;
}

.logo {
  height: 40px;
  width: auto;
}

.link {
  font-size: 10px;
  transform: scale(0.5);
  color: black;
  text-transform: uppercase;
}

.link-right {
  margin-left: 20px;
}

.link-left {
  margin-left: 10px;
}

.link:hover {
  text-decoration: none;
  color: #FADCD6;
}

@media screen and (min-width: 800px) {
  nav {
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 0.8);
  }

  nav li {
    display: inline-block;
    padding: 0 20px;
    line-height: 80px;
    vertical-align: middle;
  }

  .nav-ul {
    padding-left: 20px;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .link {
    font-size: .8em;
    color: black;
    text-transform: uppercase;
  }

  .link-right {
    margin-left: 20px;
  }

  .link-left {
    margin-left: 10px;
  }

  .link:hover {
    text-decoration: none;
    color: #F47474;
  }
}
